{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<section class="intro bg-blur" id="intro">
    <div class="container-lg">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-7">
                <div class="display-5 my-2 p-2 text-center text-sm-start fw-bold"><a href="{% url 'menu' %}"><i class="bi bi-arrow-left-circle me-3 text-dark"></i></a>Settings</div>
                <section id="reviews" class="bg-blur">
                    <div class="container-lg">
                        <div class="text-center">
                            <h2>Hello, {{ user }}</h2>
                            <p class="text-muted">You can edit your profile here.</p>
                        </div>
                        <div class="row justify-content-center my-5">
                            <div class="col-lg-12 text-start">
                                <div class="list-group ">
                                    <div class="list-group-item py-3 justify-content-center">
                                        <form class="p-5" method="POST">
                                            {% csrf_token %}
                                            <label for="name" class="form-label">Name: </label>
                                            <div class="mb-4 input-group">
                                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                                <input type="text" class="form-control py-2" name="username" id="name" placeholder="{{ customer.name }}">
                                            </div>
                                            l<label for="name" class="form-label">email: </label>
                                            <div class="mb-4 input-group">
                                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                                <input type="email" class="form-control py-2" name="email" id="name" placeholder="{{ customer.email }}">
                                            </div>
                                            <label for="name" class="form-label">City: </label>
                                            <div class="mb-4 input-group">
                                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                                <input type="text" class="form-control py-2" name="city" id="name" placeholder="{{ customer.city }}">
                                            </div>
                                            <label for="name" class="form-label">Address: </label>
                                            <div class="mb-4 input-group">
                                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                                <input type="text" class="form-control py-2" name="address" id="name" placeholder="{{ customer.address }}">
                                            </div>
                                            <div class="mb-2">
                                                <button type="submit" class="btn btn-outline-dark">Update</button>
                                            </div>
                                        </form> 
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}